@media screen and (min-width: 769px) and (max-width: 1400px) {
    /*header section*/
    .header {
        height: 700px;
        background-color: #f2e9d8;

        padding-left: clamp(24px, 5vw, 320px);
        padding-right: clamp(24px, 5vw, 320px);

        display: flex;
        flex-direction: column;

        background-image: url("../assets/images/box-cat.png");
        background-size: 315px 690px;
        background-repeat: no-repeat;
        background-position: calc(100% - 80px) 134px;
    }
    .header .logo {
        width: 130px;
        height: 40px;
    }
    .header .menu-open {
        display: none;
    }
    .header .menu-close {
        display: none;
    }
    .header .header-box {
        width: 100%;
        height: 102px;
        padding-top: 31px;
        display: flex;
        justify-content: space-between;
    }
    .header .header-box .menu .menu-box .menu-content {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
    }
    .header .header-box .menu .menu-box .menu-content ul {
        display: flex;
        gap: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .header .header-box .menu .menu-box .menu-content > a {
        display: inline-block;
        width: 140px;
        height: 50px;
        border-radius: 40px;
        background-color: #d97652;
        color: #fff;
        text-align: center;
        align-content: center;

        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    .header .header-content-box h2 {
        width: clamp(500px, 50vw, 737px);
        font-weight: 500;
        font-size: 38px;
        margin-top: 200px;
        line-height: calc(38px + ((80px - (38px * 2)) / (2 * 2)));
        word-break: keep-all;
    }
    .header .header-content-box p {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(16px + ((86px - (16px * 4)) / (4 * 2)));
    }
    .header .header-content-box p:first-of-type {
        width: clamp(100px, 50vw, 439px);
        margin-top: 40px;
    }
    .header .header-content-box p:last-of-type {
        width: clamp(100px, 50vw, 430px);
    }
    .header .header-content-box .download-btn {
        display: inline-block;
        margin-top: 40px;
        width: 140px;
        height: 50px;
        border-radius: 40px;
        background-color: #d97652;
        text-align: center;
        align-content: center;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
    }

    /*main section*/
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        padding: 0 40px;
    }
    .main .intro {
        display: flex;
        gap: 100px;
    }
    .main .intro img {
        width: clamp(300px, 50vw, 660px);
        height: 390px;
        object-fit: cover;
        object-position: 0 30%;
        border-radius: 30px;
        box-shadow: 10px 10px 30px 0 #00000040;
    }
    .main .intro .intro-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .intro .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main .intro .intro-container h2 {
        width: 100%;

        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
    .main .intro .intro-container p {
        max-width: 510px;
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .main .photo-album {
        margin-top: 60px;
    }
    .main .photo-album div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main .photo-album h2 {
        font-weight: 700;
        color: #d97652;
        font-size: 24px;
        line-height: calc(48px + (60px - (48px * 1)) / (1 * 2));
    }
    .main .photo-album p {
        max-width: 739px;

        font-weight: 400;
        font-size: 16px;
        text-align: center;
        line-height: calc(16px + (42px - (16px * 2)) / (2 * 2));
    }
    .main .photo-album p:first-of-type {
        margin-top: 20px;
    }
    .main .photo-album span {
        font-weight: 700;
        color: #d97652;
    }
    .main .photo-album ul {
        margin-top: 88px;
        display: flex;
        gap: 72px;
    }
    .main .photo-album ul li img {
        width: 100%;
        height: auto;
        max-width: 378px;
        border-radius: 30px;
        box-shadow: 10px 10px 30px 0 #00000040;
    }

    .main .bottom {
        margin-top: 90px;
        display: flex;
        align-items: center;
        gap: 52px;
    }
    .main .bottom p {
        max-width: 739px;
        font-size: 16px;
        line-height: calc(16px + (64px - (16px * 3)) / (3 * 2));
        font-weight: 400;
    }
    .main .bottom a {
        width: 147px;
        height: 50px;
        border-radius: 40px;
        background-color: #d97652;
        color: #fff;
        text-align: center;
        align-content: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }

    /*footer section*/
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .subscribe {
        width: 100%;
        height: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 196px;

        background:
            linear-gradient(rgba(242, 233, 216, 0.6)),
            url("../assets/images/img_5.jpg") no-repeat;
        background-size: cover;
        background-position: 50px -600px;
        position: relative;
    }
    .footer .subscribe .subscribe-form {
        width: clamp(60%, 50vw, 800px);
        height: 350px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        border-radius: 30px;
        background-color: #263140;

        position: absolute;
        top: -106px;
        padding: 0 58px;
    }
    .footer .subscribe .subscribe-form .form-box {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer .subscribe .subscribe-form .form-box h2 {
        max-width: 466px;
        font-weight: 700;
        font-size: 30px;
    }
    .footer .subscribe .subscribe-form .form-box p:first-of-type {
        margin-top: 18px;
    }
    .footer .subscribe .subscribe-form .form-box p {
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14px + ((36px - (14px * 2)) / (2 * 2)));
    }
    .footer .subscribe .subscribe-form fieldset {
        display: flex;
        align-items: center;
        position: relative;
    }
    .footer .subscribe .subscribe-form fieldset input {
        width: clamp(300px, 50vw, 530px);
        height: 60px;
        border-radius: 60px;
        border: none;
        padding-left: 68px;
    }
    .footer .subscribe .subscribe-form fieldset input::placeholder {
        font-weight: 400;
        font-size: 14px;
    }
    .footer .subscribe .subscribe-form fieldset::before {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../assets/images/mail.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        position: absolute;
        left: 32px;
        top: 18px;
    }
    .footer .subscribe .subscribe-form fieldset button {
        width: 136px;
        height: 50px;
        color: #fff;
        background-color: #d97652;
        border-radius: 40px;
        font-weight: 700;
        font-size: 16px;

        position: absolute;
        right: 5px;
    }

    .footer-info {
        width: 100%;
        padding: 45px 20px 45px 20px;
    }
    .footer-info .logo-sns {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer-info .logo-sns .logo {
        width: 180px;
        height: 50px;
    }
    .footer-info .logo-sns ul {
        display: flex;
        gap: 16px;
    }
    .footer-info .logo-sns ul li a {
        display: inline-block;
        width: 42px;
        height: 42px;
        background-color: #f29d52;
        border-radius: 50%;
        text-align: center;
        align-content: center;
        padding-top: 3px;
    }
    .footer-info .footer-menu {
        display: none;
    }

    /*dialog section*/
    dialog {
        width: 600px;
        height: 400px;
        border-radius: 30px;
        border: none;

        box-shadow: 0 0 20px 0 #00000033;
        background-color: #f2e9d8;
        background-image: url("../assets/images/modal-bg-img.png");
        background-size: 600px 400px;
        background-repeat: no-repeat;

        padding-top: 60px;
        padding-bottom: 40px;

        position: relative;
        top: -350px;
    }
    .dialog-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hodu-img {
        display: block;
        width: 100%;
        height: 112px;
        background: url("../assets/images/cat-subscribe.png") no-repeat;
        background-size: 110px 112px;
        background-position-x: 50%;
    }
    dialog p:first-of-type {
        font-weight: 700;
        font-size: 36px;
        color: #d97652;
        margin-top: 24px;
    }
    dialog p:last-of-type {
        line-height: calc(14px + ((36px - (14px * 2)) / (2 * 2)));
        margin-top: 10px;
        font-weight: 400;
        font-size: 14px;
    }
    dialog button {
        width: 189px;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 40px;
        background-color: #d97652;
        color: #fff;
        margin-top: 38px;
    }
    .scroll-btn {
        width: 40px;
        height: 40px;
        background-image: url("../assets/images/top-btn.svg");
        border: 1px solid #c4c4c4;
        border-radius: 50%;
        background-color: #ffffffcc;
        background-repeat: no-repeat;

        position: fixed;
        bottom: 184px;
        right: 24px;
    }
    .scroll-btn:hover {
        background-image: url("../assets/images/top-hover-btn.png");
        background-position: center;
        cursor: pointer;
    }
}
